.container {
    background: url("../pictures/Layer5.png");
    height: auto;
    width: auto;
    background-size: cover;
}

.header {
    display: flex;
    justify-content: space-around;
    background: rgba(94, 93, 88, 0.6);
    height: 120px;
}

.header_logo {
    display: flex;
    align-items: center;
}

.header_menu {
    display: flex;
}


.header_logo_H {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 31px;
    color: #FFFFFF;
    position: relative;
    z-index: 2;
    right: 17px;
}

.header_logo_img {
    position: absolute;
    z-index: 1;
    transform: translate(-30px, -16px);
}


.header_logo_text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 32px;
    line-height: 48px;
    color: #FFFFFF;
}

.header_logo_text_span {
    font-weight: bold;
    color: #18CFAB;
}


.header_menu {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    padding-top: 50px;
}

.header_menu_text {
    padding-right: 10px;
    color: rgba(255, 255, 255, 0.6);
}

.header_menu_text:hover {
    color: #18CFAB;
    border-bottom: 2px solid #18cfab;
}

.main_part {
    text-align: center;
    margin-top: 15%;
}

.main_text {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 35px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 80px;
}

.main_text_span {
    color: #18CFAB;
}

.main_text_1 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 78px;
    line-height: 1px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 80px;
}

.main_text_2 {
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 1px;
    text-align: center;
    color: #D4D4D4;
    margin-top: 80px;
}


.main_button {
    display: flex;
    justify-content: center;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 65px;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 150px;
    text-align: center;
    padding-bottom: 243px;
}

.button_blue {
    background-color: #18CFAB;
    width: 169px;
    height: 63px;
    margin-left: 50px;
    border-radius: 5px;
    border-top: 3px solid #FFFFFF;
}

.button_green {
    background-color: #00CBF6;
    width: 169px;
    height: 63px;
    border-radius: 5px;
    border-top: 3px solid #FFFFFF;
}

.blocks {
    display: flex;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
    padding-top: 10px;
}

.block {
    width: 482px;
    height: 377px;
    background: #1C2A33;
    color: #18CFAB;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

}

.block_2 {
    width: 482px;
    height: 377px;
    background: #18CFAB;
    color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.block_img {
    padding: 20px 70px;
}