.our-amazing_work__background {
    background: #E9EDEF;
}

.our-amazing_work__container {
    width: 100%;
    max-width: 1160px;
    margin: 0 auto;
    display: grid;

}

.our-amazing_work__title {
    padding-top: 83px;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    justify-content: center;
    color: #4E4E4E;
}

.our-amazing_work__line_set {
    display: grid;
    justify-content: center;
    margin-top: 24px;
    margin-bottom: 63px;
}

.our-amazing_work__line {
    width: 79px;
    height: 4px;
    background: #18CFAB;
}

.our-amazing_work__line_2 {
    width: 79px;
    height: 4px;
    background: #18CFAB;
    margin: 2px 20px;
}

.our-amazing_work__menu {
    display: flex;
    font-family: Montserrat, serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15.9859px;
    line-height: 80px;
    justify-content: center;
    text-align: center;
    color: #717171;
}

.our-amazing_work__menu_list {
    width: 192px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.our-amazing_work__menu_list.all{
    width: 100px;
    height: 72px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
}

.our-amazing_work__menu_list.all:hover{
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.our-amazing_work__menu_list:hover{
    color: #18CFAB;
    border: 1px solid #18CFAB;
}

.our-amazing_work__content {
    padding-top: 70px;
    font-size: 0;
}

.amazing_image_list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 70px;
}

.amazing_image_item{
    position: relative;
}

.amazing_work_image{
    width: 285px;
    height: 211px;
    position: absolute;
    opacity: 1;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.amazing_image_description{
    text-align: center;
    width: 285px;
    height: 211px;
    border-top: 2px solid #18cfab;
}

.amazing_image_item:hover .amazing_work_image{
    opacity: 0;
    z-index: -1;
}

.photo_icons{
    display: flex;
    justify-content: center;
    padding: 40px 0;
}

.logo_work{
    margin-right: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border: 1px solid #18cfab;
    border-radius: 50%;
}

.logo_work:hover{
    border-top-color: #18cfab;
    color: #E9EDEF;
    cursor: pointer;
}

.logo_icon {
    color: #18cfab;
}

.photo_text{
    display: block;
    text-align: center;
}

.image_text{
    margin-bottom: 7px;
    font-weight: bold;
    font-size: 14.1771px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
}

.image_text_small{
    font-weight: 300;
    font-size: 12.1518px;
    line-height: 25px;
    color: #8A8A8A;
}

.hidden{
    display: none;
}

.load_more_btn{
    text-align: center;
    padding-bottom: 100px;
}

.button {
    min-width: 170px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    border-radius: 5px;
    padding: 25px 16px;
    outline: none;
    border: none;
}

.work_btn{
    cursor: pointer;
    background: #18CFAB;
}

